{% extends "master.html" %}

{% block title %}Reports{% endblock %}

{% block header %}
<h1 class="fw-bold">Corporate Reports</h1>
{% endblock %}

{% block content %}
<div class="list-group">
    <a href="/reports/topGames" class="list-group-item list-group-item-action">
        Top 10 Video Games of 80s
    </a>
    <a href="/reports/invoice" class="list-group-item list-group-item-action">
        Invoice Report
    </a>
    <a href="/reports/sales/monthly" class="list-group-item list-group-item-action">
        Monthly Sales Report
    </a>
</div>
{% endblock %}
